@import './animationConstant.scss';
@import './global.scss';

.slide-down-enter-from,
.slide-down-leave-to {
  transform: translate(0, -100%);
}
.slide-up-enter-from,
.slide-up-leave-to {
  transform: translate(0, 100%);
}
.slide-down-enter-to,
.slide-down-leave-from,
.slide-up-enter-to,
.slide-up-leave-from {
  transform: translate(0, 0);
}
.popup-slide-up-enter-from,
.popup-slide-up-leave-to {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}
.popup-slide-up-enter-to,
.popup-slide-up-leave-from {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
.slide-right-enter-from,
.slide-right-leave-to {
  transform: translate3d(-100%, 0, 0);
}
.slide-right-enter-to,
.slide-right-leave-from,
.title-move-enter-to,
.hot-search-move-leave-from {
  transform: translate3d(0, 0, 0);
}

.title-move-enter-to,
.title-move-leave-from {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.title-move-enter-from,
.title-move-leave-to {
  transform: translate3d(0, px2rem(10), 0);
  opacity: 0;
}
.hot-search-move-enter-from,
.hot-search-move-leave-to {
  transform: translate3d(0, px2rem(30), 0);
  opacity: 0;
}
.hot-search-move-enter-to,
.hot-search-move-leave-from {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.flap-scale-enter-from,
.flap-scale-leave-to {
  transform: scale(0);
  opacity: 0;
}
.flap-scale-enter-to,
.flap-scale-leave-from {
  transform: scale(1);
  opacity: 1;
}

.slide-down-enter-active,
.slide-down-leave-active,
.slide-up-enter-active,
.slide-up-leave-active,
.popup-slide-up-enter-active,
.popup-slide-up-leave-active,
.fade-enter-active,
.fade-leave-active,
.slide-right-enter-active,
.slide-right-leave-active,
.title-move-enter-active,
.title-move-leave-active,
.hot-search-move-enter-active,
.hot-search-move-leave-active,
.flap-scale-enter-active,
.flap-scale-leave-active {
  transition: all $animationTime $animationType;
}
